{% extends 'default/index.html' %}
{%- block content %}
<h2>Blog</h2>

{% for post in posts %}
<div class="blog-post">
  <h3><a href="/blog/{{ post.slug }}.html">{{ post.title }}</a></h3>
  <span class="post-date">{{ post.date }}</span>
  <p>{{ post.description }}</p>
</div>
{% endfor %}

{% if total_pages > 1 %}
<div class="pagination">
  {% if prev_page %}
  <a href="/blog/index/{{ prev_page }}.html" class="prev">&laquo; Newer</a>
  {% endif %}
  <span class="page-info">Page {{ page }} of {{ total_pages }}</span>
  {% if next_page %}
  <a href="/blog/index/{{ next_page }}.html" class="next">Older &raquo;</a>
  {% endif %}
</div>
{% endif %}
{%- endblock %}
