<span class="return"><a href="#" title="Return to Top">&#8613;</a></span>
<ul class="contact">
  Contact:
  <li><a href="{{ 'mailto:ryon.sherman0@gmail.com'|ascii }}">
    echo gmail.com | sed 's/^/ryon.sherman@/'
  </a></li>
</ul>
<ul class="feeds">
  <li><a href="/blog/feed.atom">Feed</a></li>
</ul>
<ul class="archive">
  Source:
    <li><a href="https://github.com/ryonsherman/ryonsherman.github.io">git</a></li>
</ul>
<ul class="validation">
  Validation:
  <li><a href="https://validator.w3.org/nu/?doc=https://ryonsherman.github.io/">HTML5</a></li>
  <li><a href="https://jigsaw.w3.org/css-validator/validator?uri=https://ryonsherman.github.io/">CSS3</a></li>
  <li><a href="https://validator.w3.org/feed/check.cgi?url=https://ryonsherman.github.io/blog/feed.atom">Atom</a></li>
</ul>
<span class="copyright">&copy; 2013-2026</span>
