<span class="return"><a href="#" title="Return to Top">&#8613;</a></span>
<ul class="contact">
  Contact:
  <li><a href="{{ 'mailto:rs0@secretco.de.com'|ascii }}">
    echo secretco.de.com | sed 's/^/rs0@/'
  </a></li>
</ul>
<ul class="feeds">
  Feeds:
  <li><a href="/news/feed.atom">News</a></li>
  <li><a href="/blog/feed.atom">Blog</a></li>
</ul>
<ul class="archive">
  Source:
    <li><a href="https://github.com/ryonsherman/ryonsherman.github.io">git</a></li>
</ul>
<ul class="validation">
  Validation:
  <li><a href="#">HTML5</a></li>
  <li><a href="#">CSS3</a></li>
  <li><a href="#">Atom</a></li>
</ul>
<span class="copyright">&copy; 2013-2014</span>
