<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ryon Sherman</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="alternate" href="/feed.atom" title="Feed" type="application/atom+xml" >
    <link rel="stylesheet" href="/etc/css/app.min.css">
    {%- block css_include %}{% endblock %}
    <style>
      html { scroll-behavior: smooth; }
      {%- block css %}{% endblock -%}
    </style>
  </head>
  <body id="top">
    {%- block body %}
    <!-- Header -->
    <div id="header">
    {%- block header %}
      <h1><a href="/">Ryon Sherman</a></h1>
      <span>with sufficient thrust, pigs fly just fine</span>
    {%- endblock %}
    </div>
    <!-- End Header -->

    <!-- Side Bar -->
    <div id="sidebar">
      <div class="container">
      {%- block sidebar %}
      {% include 'default/sidebar.html' %}
      {%- endblock %}
      </div>
    </div>
    <!-- End Side Bar -->

    <!-- Content -->
    <div id="content">
      <div class="container">
      {%- block content %}{% endblock -%}
      </div>
    </div>
    <!-- End Content -->

    <!-- Footer -->
    <div id="footer">
      <div class="container">
      {%- block footer %}
      {% include 'default/footer.html' %}
      {%- endblock footer %}
      </div>
    </div>
    <!-- End Footer -->
    {%- endblock body %}
  </body>
</html>
