<div class="title">Recent News</div>
<div class="news content">
  <ul>
    <li><a href="">News Article</a></li>
    <li><a href="">News Article</a></li>
    <li><a href="">News Article</a></li>
    <li><a href="">News Article</a></li>
    <li><a href="">News Article</a></li>
  </ul>
</div>

<div class="title">Recent Articles</div>
<div class="blog content">  
  <ul>
    <li><a href="">Blog Article</a></li>
    <li><a href="">Blog Article</a></li>
    <li><a href="">Blog Article</a></li>
    <li><a href="">Blog Article</a></li>
    <li><a href="">Blog Article</a></li>
  </ul>
</div>

<div class="title">Statistics</div>
<div class="stats content">
  <ul>
    <li>Stat 1</li>
    <li>Stat 1</li>
    <li>Stat 1</li>
    <li>Stat 1</li>
    <li>Stat 1</li>
  </ul>
</div>
