body {
  margin: 0;
  padding: 0;
  color: #333333;
  font: 12px/1.5 verdana, arial, sans-serif;
  background-color: white; }

h1, h2, h3, h4, h5, h6 {
  font-family: palatino, georgia, verdana, arial, sans-serif; }

a {
  color: #003365;
  text-decoration: none; }
  a:link, a:visited {
    color: #003366; }
  a:active, a:hover {
    color: #999999; }

#header {
  margin: 0;
  padding: 15px;
  font-family: palatino, georgia, verdana, arial, sans-serif;
  border-bottom: 1px dotted #999999; }
  #header h1, #header span {
    margin: 0;
    padding: 0;
    padding-left: 10px; }
  #header span {
    font-size: small;
    font-weight: bold;
    text-transform: lowercase; }

#sidebar {
  float: left; }
  #sidebar .container {
    width: 204px;
    border-right: 1px dotted #999999; }
  #sidebar .title {
    padding: 2px;
    margin-top: 10px;
    color: #666600;
    font-family: palatino, georgia, verdana, arial, sans-serif;
    font-size: small;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px dotted #999999;
    border-left: 15px solid white;
    border-right: 15px solid white; }
  #sidebar .content {
    margin: 0;
    padding: 2px 15px;
    font-size: x-small;
    line-height: 150%; }
    #sidebar .content ul {
      padding-left: 14px;
      margin-bottom: 0; }
  #sidebar .index ul {
    margin-left: -15px; }
  #sidebar .index ul > a,
  #sidebar .index a.selected {
    color: #333333;
    font-weight: bold; }
  #sidebar .index li {
    list-style-type: none; }
  #sidebar .index li a {
    padding-left: 15px; }
    #sidebar .index li a:hover, #sidebar .index li a.selected {
      padding-left: 3px; }
    #sidebar .index li a:hover:before, #sidebar .index li a.selected:before {
      content: "\27a4  "; }
  #sidebar .stats ul {
    padding-left: 0; }
  #sidebar .stats li {
    list-style-type: none; }

#content {
  width: 100%; }
  #content .container {
    max-width: 814px;
    margin-left: 210px;
    padding: 0 30px 0 25px; }
  #content p {
    margin-top: 5px; }
  #content ul {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 15px; }
  #content p + ul {
    margin-top: -5px; }
  #content h2 {
    margin: 40px 0 10px -15px;
    border-bottom: 1px solid #999999; }
  #content h2:first-child {
    margin-top: 20px; }
  #content h3 {
    color: #666666;
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: -10px;
    font-size: medium; }
  #content h3 + h4 {
    margin-top: 5px; }
  #content h4 {
    margin-bottom: 0;
    margin-left: -5px;
    text-decoration: underline; }
  #content table {
    width: 100%; }
    #content table tr:nth-child(even) {
      background-color: #f8f8f8; }
  #content .codehilite {
    margin: -5px 0 0;
    padding-left: 10px;
    background-color: #eeeeee;
    border: 1px solid #cccccc; }

#footer {
  clear: both;
  text-align: center; }
  #footer ul {
    display: inline;
    padding-left: 15px;
    white-space: nowrap; }
  #footer li {
    display: inline; }
  #footer li:not(:first-child):before {
    content: "\b7     "; }
  #footer .container {
    padding: 20px 10px 5px 10px; }
  #footer .return,
  #footer .validation,
  #footer .copyright {
    display: block; }
  #footer .return {
    font-size: large; }
  #footer .validation {
    margin: 0; }
